#leftCol h1.pageTitle { float:none !important; }

.tabYears {
  margin-left: 0.5em;
  margin-bottom: 2.1em;  
}

.year { 
  width:68px;
  height:34px;
  float:left;
  margin-right: 20px;
  margin-bottom: -3px;
}

.year a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background-image: url('../img/dark_bg.png'); 
  margin:0; 
  padding: 10px;
  margin-right: 0.5em;
  border-radius:7px 7px 0 0;

}

a:hover {
  background-image:url('../img/light_bg.png');
  color:#004982;
}

.yearSelected a {
  background-image:url('../img/light_bg.png');
  color:#004982;
}

 #imvustylez-layout-container{
  border: none !important;
  height:46px;
  margin: none;
  outline: none !important;
  width:644px;
  }

.tab-border {
  background-image:url('../img/light_bg.png');
  border-radius: 4px;
  margin-top: -3px; 
  margin-right: 0px; 
  margin-bottom: 10px; 
  margin-left: 0px; 
  padding:0px; 
  width:642px; 
  height:30px;
}



    .tabla {
      margin:0 0 0 5px; 
      width:632px;
    }
    .tabla th {
      background-color:#004982;
      color:#FFF !important;
      padding:5px;
      text-align:left;
    }
    .tabla .fondo2 td {
      background-color:#e5ecf2;
      padding:5px;
    }
    .tabla .fondo1 td {
      background-color:#fff;
      padding:5px;
    }
    .subLPLineInfonone {
      border-bottom-color:#7FA4BF;
      border-bottom-style:solid;
      border-bottom-width:1px;
      margin-bottom:11px;
      padding-bottom:4px;
    }
    #espacio { 
      margin-left: 8px;
    }